In [26]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()

X = [['P'], ['M'], ['G']]
X

[['P'], ['M'], ['G']]

In [27]:
enc.fit(X)
enc.categories_

[array(['G', 'M', 'P'], dtype=object)]

In [28]:
enc.transform([['P'], ['M'], ['G']])

array([[2.],
       [1.],
       [0.]])

In [31]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')

X = [['Masculino'], ['Femenino']]
X

[['Masculino'], ['Femenino']]

In [32]:
enc.fit(X)
enc.categories_

[array(['Femenino', 'Masculino'], dtype=object)]

In [33]:
enc.transform([['Masculino'], ['Femenino']]).toarray()

array([[0., 1.],
       [1., 0.]])

In [56]:
import category_encoders as ce
import pandas as pd

enc = ce.CountEncoder()

sample = pd.read_csv('heart_disease_uci.csv')

In [57]:
X = sample.loc[:, ['dataset', 'cp']]
enc.fit(X)
print(sample['dataset'].value_counts())
print(sample['cp'].value_counts())

Cleveland        304
Hungary          293
VA Long Beach    200
Switzerland      123
Name: dataset, dtype: int64
asymptomatic       496
non-anginal        204
atypical angina    174
typical angina      46
Name: cp, dtype: int64

In [60]:
X

           dataset               cp
0        Cleveland   typical angina
1        Cleveland     asymptomatic
2        Cleveland     asymptomatic
3        Cleveland      non-anginal
4        Cleveland  atypical angina
..             ...              ...
915  VA Long Beach     asymptomatic
916  VA Long Beach   typical angina
917  VA Long Beach     asymptomatic
918  VA Long Beach     asymptomatic
919  VA Long Beach  atypical angina

[920 rows x 2 columns]

In [59]:
enc.transform(X)

     dataset   cp
0        304   46
1        304  496
2        304  496
3        304  204
4        304  174
..       ...  ...
915      200  496
916      200   46
917      200  496
918      200  496
919      200  174

[920 rows x 2 columns]

In [67]:
import category_encoders as ce
import pandas as pd

enc = ce.TargetEncoder()

sample = pd.read_csv('heart_disease_uci.csv')

In [68]:
X = sample.loc[:, ['dataset', 'cp']]
y = sample['num']
enc.fit(X, y)
print(sample['dataset'].value_counts())

Cleveland        304
Hungary          293
VA Long Beach    200
Switzerland      123
Name: dataset, dtype: int64

/home/archie/.conda/envs/carlsec/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [69]:
df = enc.transform(X)
df['target'] = y
df

      dataset        cp  target
0    0.934211  0.717391       0
1    0.934211  1.443548       2
2    0.934211  1.443548       1
3    0.934211  0.661765       0
4    0.934211  0.183908       0
..        ...       ...     ...
915  1.520000  1.443548       1
916  1.520000  0.717391       0
917  1.520000  1.443548       2
918  1.520000  1.443548       0
919  1.520000  0.183908       1

[920 rows x 3 columns]